.auth{
    padding-top: 1rem;
}

a:focus.active{
    background-color: #2e7d3226 !important;
}

.tabs .indicator{
    background-color: #4caf50 !important;
}

.alert{
    padding: .5rem 1rem;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
    background-color: #d90a0aab;
    color: white;
}

.alert.success{
    background-color: #2cd90aab;
}